* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}


.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
