
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #d9a7c7, #fffcdc);
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.user-icon {
    background-color: #1f3c88;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 15px;
}

.user-icon img {
    width: 50px;
}

.input-box {
    display: flex;
    align-items: center;
    background-color: rgb(216 17 17 / 28%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-box label {
    margin-right: 10px;
    color: #ffffff;
}

.input-box input {
    border: none;
    outline: none;
    background: none;
    color: #fff;
    width: 100%;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.remember-me {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 15px;
}

.forgot-password a {
    color: #b22222;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
    color: #8b0000;
}

.login-btn {
    background-color: #1f3c88;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #142e63;
}

