body{
    background: linear-gradient(135deg, #dedfe0, #e7ebf0);
}
.hero-section {
    padding: 60px 20px;
    text-align: center;
    width: 100vw;
    height: 70vh;
    position: relative;
}

.hero-content {
    width: 70%;
    margin: 0 auto;
}

.hero-content h1 {
    font-size: 4rem;
    color: #333;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.6;
}

.features-list {
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    color: #333;
    margin-bottom: 30px;
}

.features-list li {
    margin: 10px 0;
}
.hero-content i{
    font-size: 1.8rem;
    color: rgb(255, 187, 0);
}
.hero-content p{
    font: 2.5rem;
    font-weight: 500;
    line-height: 3rem;
}
.hero-content ul li{
    font: 2.5rem;
}
.panel1{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.ratingBox{
    width: 90%;
    position: relative;
    border-radius: 3rem;
    border: 2px solid white;
}
.ratingHead{
    width: 100%;
    height: 5rem;
    display: flex;
    position: relative;
}
.myrating{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 3rem 0 0 0;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.ratingboardhead{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    border-radius: 0 3rem 0 0;
    border-left: 1px solid white;
    border-bottom: 2px solid white;
    cursor: pointer;
}
.ratingHead h1{
    color: white;
}
.rating{
    width: 100%;
    min-height: 50vh;
    padding: 3rem;   
    border-radius: 0 0 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ratingboard{
    width: 100%;
    min-height: 50vh;
    padding: 3rem;   
    position: relative;
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}
.card{
    width: 30%;
    height: 35rem;
    background-color: #003d4d;
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: top;
    border-radius: 2rem;
    margin-bottom: 1.5rem;
}
.card h2{
    font-size: 1.7rem;
    font-weight: 700;
}
.card h3{
    font: 1.3rem;
    font-weight: 400;
}
.card .star-rating{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}
.card .star-rating i{
    font-size: 2.5rem;
    color: rgb(236, 236, 236);
}
form {
    background-color: #003d4d;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form h2 {
    font-size: 1.7rem;
    text-align: center;
    color: white;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-size: 1.3rem;
}
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    color: white;
    background-color: transparent;
}
button {
    width: 40%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.download-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 1.5rem;
}
.download-button:hover {
    background-color: #37913b;
}